:root {
	--black: #0b0c10;
	--dgrey: #1f2833;
	--lgrey: #c5c6c7;
	--lblue: #66fcf1;
	--dblue: #45a29e;
}
* {
	font-family: Arial;
}

h1, h2, h3 {
	text-align: center;
	font-size: 30px;
	color: var(--lblue)
}

a, p {
	text-align: center;
	font-size: 15;
	color: var(--lgrey);
	text-decoration: none;
}

html {
	background-color: var(--black);
	padding: 0px;
}

header, article, nav {
	background-color: var(--black);
	padding: 15px;
	margin: auto;
}

.projectitem {
	background-color: var(--dgrey);
	padding: 15px;
	border-radius: 5px;
	border: 1px solid var(--lgrey);
	width: 50%;
	margin: auto;
	margin-top: 20px;
}

.button {
	background-color: var(--lgrey);
	padding: 5px;
	border-radius: 5px;
	border: 2px solid var(--dblue);
	
	display: block;
	width: 100px;
	margin: auto;

	color: var(--dgrey);
}
