:root {
	--ddblue: #0a0a27;
	--dblue: #0b0a3f;
	--blue: #00005f;
	--lblue: #9c9bcf;
	--llblue: #bdbee9;
	--lllblue: #adaef9;
	--llred: #e0d6d7;
	--ddred: #151509;
}
* {
	font-family: Arial;
}

html {
	background-color: var(--llblue);
	color: var(--llblue);
}

header {
	background-color: var(--ddblue);
	padding: 30px;
	text-align: center;
	font-size: 20px;
	color: white;
}

article {
	background-color: var(--dblue);
	padding: 5px 20px;
	text-align: center;
	font-size: 15px;
	color: white;
}

nav {
	background-color: var(--blue);
	padding: 1px 20px;
	text-align: center;
	font-size: 15px;
	color: white;
}

.sidebar {
	height: 100%;
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 30px;
	bottom: 30px;
	background-color: var(--lblue);
	color: var(--dblue);
	font-size: 25px;
}

.sidebar div {
	left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 190px;
	margin: auto;
	transition: 0.3s;
}

.sidebar div:hover {
	background-color: var(--llblue);
}


.projectitem {
	background-color: var(--llblue);
	padding: 10px 10px;
	padding-top: 5px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40%;
	max-width: 500px;
	color: var(--ddblue);
	border-radius: 10px;
}


.utility {
	background-color: var(--llred);
	padding: 10px;
	padding-top: 5px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40%;
	max-width: 450px;
	color: var(--ddred);
	border-radius: 5px;
}

.button {
	background-color: var(--dblue);
	padding: 5px;
	text-align: center;
	margin: auto;
	color: white;
	border-radius: 10px;
	text-decoration: none;
	transition: 0.3s;
}

.button:hover {
	background-color: var(--blue);
}
